/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

header {
    background-color:#FFF;
    position: fixed;
    width: 100%;
  }

nav {
    padding-right: 40px;
}

.logo {
    width: 240px;
    float: left;
    
    padding: 0px;
}

nav > ul > li {
    list-style-type:none;
    margin: 0px 20px;
    float: right;
}

nav li {
    display: inline;
    padding: 0 30px;
    font-weight: 400;
}

main {
    padding-top:133px;
    margin: 0 40px 40px 40px;
}

body {
    background-color:#FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /*Sets the font size to 16px */
    font-weight: 300; /*Sets the font weight to 300 */
    line-height: 1.6; /*Sets the line-height to 1.6 * the font size */
    color:#494848;

}

* {
    box-sizing: border-box;
  }

img {
    width: 100%;
    max-width:500px;
}

h1, h2, h3, h4 {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.4;
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 400
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
    margin:0;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

span {
    font-size: 0.8em;
    font-weight:400;
}

a{
    color: #494848; 
    text-decoration: none; /*No underlining */
}

a:visited { /* visited link */
    color: #494848;
  }

a:hover{
    color:#2e2ccc;
}

a:active { /* selected link */
    color: #994c30;
  }

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #30c9d4;
    color: #ffffff !important; /* needed to override the default link color */
    font-weight: 400;
    padding: 3px 40px;
    border-radius: 15px;
    border-bottom: 2px solid #056468; /* width of the border, type, color */
    transition: 0.2s opacity;
    margin: 5px 0;
    }

.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    }

.button.contact {
    background-color: transparent;
    color: #30c9d4 !important;
    text-transform: uppercase;
    border: 2px solid #30c9d4;
    }

.button.contact:hover {
    background-color: #30c9d4;
    color: #ffffff !important;
    }

.hero-section {
    margin:10px;
    padding: 10px;
}

.my-work-section {
    margin: 10px;    
    }

.text {
    padding: 0px;
    max-width: 500px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    max-width: 1000px;
    margin: 10px;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1000px;
    margin: 10px;
}

.picture-profile {
    max-width: 300px;
    float: center;
    margin:50px;
}

.container-profile {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    max-width: 1000px;
    margin: 10px;
}
.container3 {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 10px;
}

.my-story {
    max-width: 500px;

}

.skills {
    width: 50%;
}

.img-home-rec {
    max-width: 500px;
    margin:10px;
}

.rec-user-analysis {
    max-width: 500px;
    margin: 10px;
}

.rec-user-jouney {
    display:flex;
    flex-direction:column;
}

.picture-sketch {
    text-align: center;
}

.row {
    margin:20px 0px;
}

.row2 {
    margin:50px 0px;
}

.footer {
    margin: 0 40px;
    text-align: center;
}